/*selector universal*/
* {
    font-family: 'Arial'
    }
/*selector*/
    h1 {
        color: coral;
    }

    /*selectot class*/
    li.menu {
        color:blue;
    } 

    /*selector id*/
    #bahasa {
        color:green;
    }
/*sibling selector*/
    h2+p {
        font-family:Cursive;
    } 
    h2~p {
        color: red;
    }
